img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: relative;
  color: black;
}

a:hover {
  color: black;
}

.color-muted {
  color: var(--muted-color);
}

.my-bg-black {
  background-color: var(--secondary-color);
}

.my-banner {
  background-color: rgba(255, 0, 0, 0.158);
}

.my-button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.my-custom-input:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 0 0.25rem rgba(0, 188, 212, 0.25);
}

.responsive-height {
  height: 100%;
}

@media (min-width: 768px) {
  .responsive-height {
    height: 75%;
  }
}

.responsive-width {
  width: 100%;
}

@media (min-width: 768px) {
  .responsive-width {
    width: 75%;
  }
}